HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/META-INF/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

## Custom ##
/src/main/java/session/
/memo.md
/src/main/java/kimchipremium/Test.java
META-INF/